<IfModule mod_php.c>
  php_value upload_max_filesize 10240M
  php_value post_max_size 10300M
  php_value max_execution_time 3600
  php_value max_input_time 3600
  php_value memory_limit 512M
</IfModule>

AddType application/manifest+json .webmanifest

<IfModule mod_headers.c>
  <Files "sw.js">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </Files>
</IfModule>
